body {
    padding-top: 1em;
    background-color: #242c3c;
    color: #25a9f0;
    text-align: center;
    font-family: "Poppins";
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    opacity: 90%;
}

#player {}

#question {}

#answers {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

button {
    display: block;
    margin: 0.5em;
    padding: 0.5em;
    color: #242c3c;
    border: transparent;
    background-color: #25a9f0;
    font-size: 1.25em;
}

button:hover {
    opacity: 75%;
    cursor: pointer;
}

button:disabled {
    opacity: 50%;
}